@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.detailBg {
  background-image: linear-gradient(
    to right top,
    #f9fafb,
    #c5d5e6,
    #92b1d1,
    #5c8ebc,
    #026da7
  );
}

.logoT {
  text-shadow: 2px 4px 4px rgba(46, 91, 173, 0.6);
}

.home {
  background-image: url("../src/assets/images/cloud1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.detail {
  background-image: url("../src/assets/images/sunset.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
